@model SvgStudio.Web.ViewModels.Licenses.LicenseViewModel

<h2>Licenses</h2>
<p>
    <a href="@Url.Action(MVC.Licenses.Index())">
        <i class="fa fa-chevron-left"></i> Back to Licenses
    </a>
</p>
<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            Add New License
        </div>
        <div class="panel-body">
            @Html.ValidationSummary()
            <form role="form" action="@Url.Action(MVC.Licenses.Add())" method="post">
                @Html.EditorForModel()
                <input type="submit" name="@Html.NameFor(x => x.Action)" value="Save" class="btn btn-primary pull-left" />
                @Html.AntiForgeryToken()
            </form>
        </div>
    </div>
</div>

