@model IEnumerable<SvgStudio.Web.ViewModels.Licenses.LicenseViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Licenses</h2>
<p>
    <a href="@Url.Action(MVC.Licenses.Add())"><i class="fa fa-plus"></i> Add New License</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>            
            <th>License</th>
            <th>Attribution Required</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var license in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(license.Id, MVC.Licenses.Edit(license.Id))
                </td>
                <td>
                    @license.LicenseName
                    @if (!string.IsNullOrWhiteSpace(license.LicenseUrl))
                    {
                        <a href="@license.LicenseUrl" class="nowrap" target="_blank">@license.LicenseUrl</a>
                    }
                </td>
                <td>@Helpers.YesNo(license.AttributionRequired)</td>
            </tr>
        }
    </tbody>
</table>