@model SvgStudio.Web.ViewModels.Shapes.ShapeViewModel

<h2>Shapes</h2>
<p>
    <a href="@Url.Action(MVC.Shapes.Index())">
        <i class="fa fa-chevron-left"></i> Back to Shapes
    </a>
</p>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Edit Shape
        </div>
        <div class="panel-body">
            @Html.ValidationSummary()
            <form role="form" action="@Url.Action(MVC.Shapes.Edit())" method="post">
                @Html.EditorForModel()
                <button type="submit" class="btn btn-primary">Save</button>
                @Html.AntiForgeryToken()
            </form>
        </div>
    </div>
</div>
@section scripts {
    @Html.Partial(MVC.Shared.Views._CodeMirrorScript)
}
