@model IEnumerable<SvgStudio.Web.ViewModels.Shapes.ShapeViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Shapes</h2>
<p>
    <a href="@Url.Action(MVC.Shapes.Add())"><i class="fa fa-plus"></i> Add New Shape</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Active</th>
            <th>Width</th>
            <th>Height</th>
            <th>Stokes</th>
            <th>Fills</th>
            <th>Compatibility Tags</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shape in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(shape.Id, MVC.Shapes.Edit(shape.Id))
                </td>
                <td>@shape.Name</td>
                <td>@Helpers.YesNo(shape.IsActive)</td>
                <td>@shape.Width</td>
                <td>@shape.Height</td>
                <td>@shape.NumberOfStrokesSupported</td>
                <td>@shape.NumberOfFillsSupported</td>
                <td>
                    @if (shape.ExtractCompatiblityTags().Any())
                    {
                        <text>@string.Join(", ", shape.ExtractCompatiblityTags())</text>
                    }
                    else
                    {
                        <em>none</em>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>