<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - SVG Studio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/@(AppSettings.BootswatchTheme.ToLower())/bootstrap.min.css" rel="stylesheet" id="themeCssLink" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Site.css" />
    @RenderSection("head", required: false)
</head>
<body>
    <div class="container">
        <div class="col-lg-12 hidden">
            @{ var themes = new[] { "Cerulean", "Cosmo", "Cyborg", "Darkly", "Flatly", "Journal", "Lumen", "Paper", "Readable", "Sandstone", "Simplex", "Slate", "Spacelab", "Superhero", "United", "Yeti" }; }
            @Html.DropDownList("themeSelector", new SelectList(themes, AppSettings.BootswatchTheme))
        </div>
        <div class="col-lg-12">
            <h1 class="pull-left">cd312f2e Admin</h1>
            @if (Request.IsAuthenticated)
            {
                <p class="pull-right">
                    @Html.ActionLink("Sign Out", MVC.Account.SignOut())
                </p>
            }
            <div class="clearfix"></div>
            @if (Request.IsAuthenticated)
            {
                <ul class="nav nav-tabs">
                    <li class="@(ViewBag.Nav == "Licenses" ? "active" : null)">@Html.ActionLink("Licenses", MVC.Licenses.Index())</li>
                    <li class="@(ViewBag.Nav == "Shapes" ? "active" : null)">@Html.ActionLink("Shapes", MVC.Shapes.Index())</li>
                </ul>
            }
        </div>
        <div class="col-lg-12">
            @RenderBody()
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="~/Scripts/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>