@model SvgStudio.Web.ViewModels.Shared.TemplateViewModel
@{
    ViewBag.Title = "Edit Template";
}

<h2>Templates</h2>
<p>
    <a href="@Url.Action(MVC.Templates.Index())">
        <i class="fa fa-chevron-left"></i> Back to Templates
    </a>
</p>
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Edit Template
        </div>
        <div class="panel-body">
            @Html.ValidationSummary()
            <form role="form" action="@Url.Action(MVC.Templates.Edit())" method="post">
                    @Html.EditorForModel()
                <input type="submit" " value="Save" class="btn btn-primary pull-left" />
                @Html.AntiForgeryToken()
            </form>
        </div>
    </div>
</div>